<div class="container">
  <div class="row">
   <div class="col-sm-6">
   <div class="panel panel-success">
   <div class="panel-body">
	   
 <div   class="img-rounded" alt="Cinque Terre" width="304" height="236">  
   <%= image_tag @product.photo_file_name, size: "500x250" %></br></div>
   <div class="col-sm-6">
   <%= @product.description %>
   <%= @product.maker %>
   <%= @product.cost %><br>

   <div id="rateYo">Rating</div>

   <%= link_to "Read Comments", show_comments_path(:id=>@product.id), class: "btn btn-danger" %>
   
   	<%= link_to "Buy", buy_product_path(:id=>@product.id), class: "btn btn-success" %>
   	
   </div>
   </div>

	</div>
  </div>
  </div>

<script>$(function () {
 
  $("#rateYo").rateYo({
    rating: 3.6
  });
 
});</script>
